:root {
  --primary-color: #0a998c;
  --primary-lite: #dff1f0;
  --dark-one: #d0d0d0;
  --dark-two: #eee;
}
.app {
  width: 300px;
}
button,
input[type="submit"] {
  cursor: pointer;
}
.hide {
  display: none !important;
}
h2 {
  font-weight: normal;
}
form.send-form {
  display: block;
}
div.send-form {
  display: inline-block;
  width: calc(100% - 15px);
}
.send-form label,
.send-form input {
  display: table-cell;
  margin-top: 10px;
}
label {
  padding-right: 10px;
}
*:focus {
  outline: none;
}
a:focus,
input:focus,
button:focus {
  outline: var(--primary-color) solid 1px;
}

.send-form label,
.send-form input {
  display: inline-block;
  width: calc(100% - 15px);
}
.send-form input[type="submit"] {
  width: 100%;
}
input[type="submit"],
button {
  font-weight: bold;
  border-radius: 3px;
  padding: 10px 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--primary-color);
  background-color: var(--primary-lite);
  border: 0.5px solid var(--primary-color);
}
input[type="checkbox"] {
  accent-color: var(--primary-color);
}
input[type="url"],
input[type="email"] {
  padding: 5px;
  font-size: 1.1rem;
  border-radius: 3px;
  border: 2px solid var(--dark-one);
}
.info {
  padding: 20px;
  margin: 10px auto;
  text-align: center;
  border-radius: 3px;
  background-color: var(--dark-two);
}
